<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-href="#/">Mundial de Futbol Rusia 2018</a>
  </div>
  <!-- /.navbar-header -->
  <!-- /.navbar-top-links -->
  <!-- /.navbar-static-side -->
</nav>
<ul class="breadcrumb">
  <li ng-repeat="option in breadcrumb" ng-if="option === ''" class="breadcrumb-item">
    <a href="#"><i class="fa fa-home" aria-hidden="true"></i>{{option}}</a>
  </li>
  <li ng-repeat="option in breadcrumb" ng-if="$middle" class="breadcrumb-item">
    <a href="#">{{option}}</a>
  </li>
  <li ng-repeat="option in breadcrumb" ng-if="$last" class="breadcrumb-item active">
    {{option}}
  </li>
</ul>
